# Ignore virtual environment
.venv/
venv/

# Ignore Python cache
__pycache__/

# Ignore OS trash
.DS_Store

# Ignore environment secrets
.env
.env.*
.env.txt

# Ignore PyCharm project settings
.idea/
.env
